<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">

		<div class="row">
				 <div class="center column">
				
					<a href="https://opendao.cn" target="_blank" th:style="'font-size:18px'"><img src="/img/logo2.png" ></a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://gitclone.com" target="_blank" th:style="'font-size:18px'"><img src="/img/logo1.png" ></a>
				</div>
			</div>

      
    <div class="row">
      <div class="center column">
        {{Tr(Lang, "copyright") | safe}}
      </div>
    </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}